<tr<%= ' class="unmerged"'.html_safe unless changeset.merged %>>
  <td class="action">
    <button class="awesome">Edit</button>
    <button class="awesome red">Delete</button>
    <% if changeset.merged %>
      <button class="awesome blue">Unmerge</button>
    <% else %>
      <button class="awesome white">Merge</button>
    <% end %>
  </td>
  <td class="revision"><%= changeset.revision %><a href="<%= changeset_link changeset.revision.to_s %>" target="_blank">[Trac]</a></td>
  <td class="ticket"><%= changeset.ticket %><% unless changeset.ticket.blank? %><a href="<%= ticket_link changeset.ticket.to_s %>" target="_blank">[Trac]</a><% end %></td>
  <td class="description"><%= changeset.description %></td>
  <td class="notes"><%= changeset.notes %></td>
</tr>
