<tr<%= ' class="unmerged"'.html_safe unless changeset.merged %>>
  <td class="action">
    <button class="btn-edit awesome">Edit</button>
    <button class="btn-delete awesome red">Delete</button>
    <% if changeset.merged %>
      <button class="btn-merge awesome blue">Unmerge</button>
    <% else %>
      <button class="btn-merge awesome white">Merge</button>
    <% end %>
  </td>
  <td class="revision"><span><%= changeset.revision %></span><a href="<%= changeset_link changeset.revision.to_s %>" target="_blank">[Trac]</a></td>
  <td class="ticket"><span><%= changeset.ticket %><% unless changeset.ticket.blank? %></span><a href="<%= ticket_link changeset.ticket.to_s %>" target="_blank">[Trac]</a><% end %></td>
  <td class="description"><%= changeset.description %></td>
  <td class="notes"><%= changeset.notes %></td>
</tr>
