<tr<%= ' class="unmerged"'.html_safe unless changeset.merged %> data-id="<%= changeset.to_param %>">
  <td class="action">
    <button class="btn-edit awesome">Edit</button>
    <button class="btn-delete awesome red">Delete</button>
    <% if changeset.merged %>
      <button class="btn-merge awesome">Unmerge</button>
    <% else %>
      <button class="btn-merge awesome">Merge</button>
    <% end %>
  </td>
  <td class="revision"><span><%= changeset.revision %></span><%= changeset_link(changeset) %></td>
  <td class="ticket"><span><%= changeset.ticket %></span><%= ticket_link(changeset) unless changeset.ticket.blank? %></td>
  <td class="description"><%= changeset.description %></td>
  <td class="notes"><%= changeset.notes %></td>
</tr>
